################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FirstWebApp_ASPNETCore/v15/Server/sqlite3
