################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FirstWebApp_ASPNETCore/v15/Server/sqlite3
/FirstWebApp_ASPNETCore/.vs/FirstWebApp_ASPNETCore
/FirstWebApp_ASPNETCore/obj
