
@{
    ViewData["Title"] = "Empty";
}

<h2>You have no customers available</h2>

<a class="btn btn-success" asp-controller="Customer" asp-action="Create">
    <i class="fa fa-plus-circle"></i>
    New Customer
</a>